<h1>message from 2016</h1>

<p>The election of Donald Trump on November 8th, 2016
set off a tidal wave of sadness, rage, solidarity, and
action. But, for better and worse, the human brain is
great at adapting to terrible situations over time. Write
down how you’re feeling right now, and we’ll email it to
your future self in time for you to do something about
the midterms.</p>

<p>Your message and your information will never be shared with anyone but you.</p>

<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
  <div><%= flash[:error] %></div>
<% end  %>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for :message, url: message_create_path do |f| %>
  <button id="start">start</button>

  <h1>how are you feeling?</h1>
  <p>What are your hopes? What are your fears? What are you willing to do to make sure this never happens again?</p>
  <p>
    <%= f.text_area :content %>
  </p>
  <button id="save">save</button>

  <h1>the midterm elections are in <%= @days_to_election %> days.</h1>

  <p>
    <%= f.text_field :email_address, placeholder: "email" %>
  </p>

  <p>
    <%= f.text_field :zip, placeholder: "zip (optional)" %>
  </p>

  <p>
    <%= f.submit "send", class: "button" %>
  </p>
<% end %>
