<h1>Message from 2016 Admin</h1>
<p>Messages logged: <%= @messages_logged %></p>
<p>Messages authorized: <%= @messages_authorized %></p>
<p>Messages sent: <%= @messages_sent %></p>
<p>Average message length: <%= format_floats(@average_message_length) %> words</p>
<p>Distinct zip code: <%= @distinct_zips %></p>

<%= form_tag("/admin/send", method: "post") do %>
    <%= submit_tag("Send messages") %>
<% end %>